<div class="success-container">
    <div class="success-modal">
        <div class="success-successfully">
            <div class="success-image">
                <img src="assets/images/success.png" alt="Imagem de sucesso" >
            </div>
            <div class="success-image-text" style="text-align: center;">
                <h3>Sucesso!</h3>
            </div>
            <div class="tips-form">
                <div class="form-group">
                    <p>As alterações foram realizadas <br> com sucesso</p>
                </div>
            </div>
            <div class="confirm-button">
                <button mat-raised-button (click)="successClose()">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>