.kanban-board {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-header {
  font-size: 12px;
  color: #888;
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.task-image img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.task-info {
  flex: 1;
}

.task-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.task-description {
  font-size: 14px;
  color: #555;
}

.task-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

select {
  padding: 5px;
  font-size: 14px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:nth-child(2) {
  background-color: #ffa500;
}

button:nth-child(2):hover {
  background-color: #ff8c00;
}
