.mat-mdc-snack-bar-action {
    color: white !important;
    background-color: #333 !important; 
    transition: background-color 0.3s ease-in-out;
}
  
.mat-mdc-snack-bar-action:hover {
background-color: gray !important;
}
//edit-task