<div class="noSuccess-container">
    <div class="noSuccess-modal">
        <div class="noSuccess">
            <div class="noSuccess-image">
                <img src="assets/images/noSuccess.png" alt="Imagem de erro" >
            </div>
            <div class="noSuccess-image-text" style="text-align: center;">
                <h3>Erro!</h3>
            </div>
            <div class="tips-form">
                <div class="form-group">
                    <p>Ocorreu um erro ao realizar operação <br> <strong>Revise</strong> as informações </p>
                </div>
            </div>
            <div class="confirm-button">
                <button mat-raised-button (click)="noSuccessClose()">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>